{:deps
 {gnl/ghostwheel.logging {:mvn/version "0.3.9"}
  gnl/ghostwheel.unghost {:mvn/version "0.3.9"}
  org.clojure/spec.alpha {:mvn/version "0.2.176"}
  org.clojure/test.check {:mvn/version "0.10.0-alpha4"}
  orchestra/orchestra {:mvn/version "2019.02.06-1"}
  expound/expound {:mvn/version  "0.7.2"}}}
